@import "tailwindcss";


.text-color{color: var(--color-secundary);}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  }
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  
@font-face {
  font-family: 'Epilogue';
  src: url(./Epilogue/Epilogue-VariableFont_wght.ttf);
}
body{
  font-family: 'Epilogue';
  background-color: var(--Almost-White);
  color: var(--Almost-Black);
  font-size: 18px;
}